@import '../../../scss/constants.scss';

.list{
    height: 100vh;
    width: 100%;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    z-index: 0;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}